# A dive into Japanese birth demographics. 
### Dataset from: https://www.kaggle.com/datasets/webdevbadger/japan-birth-statistics

Reading the exploring the dataset

In [1]:
import pandas as pd

In [6]:
birth_df = pd.read_csv("japan_birth.csv")
print(birth_df.shape)
print(birth_df.info())
birth_df.head()
birth_df.columns

(124, 51)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     124 non-null    int64
 1   year                           124 non-null    int64
 2   birth_total                    121 non-null    float64
 3   birth_male                     121 non-null    float64
 4   birth_female                   121 non-null    float64
 5   birth_rate                     121 non-null    float64
 6   birth_gender_ratio             121 non-null    float64
 7   total_fertility_rate           76 non-null     float64
 8   population_total               124 non-null    int64
 9   population_male                124 non-null    int64
 10  population_female              124 non-null    int64
 11  infant_death_total             121 non-null    float64
 12  infant_death_male              121 non-null    float64
 13  infant_death_female            121 non-null    float64
 14  infant_death_unknown_gender    121 non-null    float64
 15  infant_death_rate              121 non-null    float64
 16  infant_death_gender_ratio      121 non-null    float64
 17  infant_deaths_in_total_deaths  121 non-null    float64
 18  stillbirth_total               121 non-null    float64
 19  stillbirth_male                119 non-null    float64
 20  stillbirth_female              119 non-null    float64
 21  stillbirth_unknown_gender      119 non-null    float64
 22  stillbirth_rate                121 non-null    float64
 23  stillbirth_gender_ratio        119 non-null    float64
 24  firstborn                      45 non-null     float64
 25  secondborn                     45 non-null     float64
 26  thirdborn                      45 non-null     float64
 27  forthborn                      45 non-null     float64
 28  fifthborn_and_above            45 non-null     float64
 29  weeks_under_28                 38 non-null     float64
 30  weeks_28-31                    38 non-null     float64
 31  weeks_32-36                    38 non-null     float64
 32  weeks_37-41                    38 non-null     float64
 33  weeks_over_42                  38 non-null     float64
 34  mother_age_avg                 37 non-null     float64
 35  mother_age_firstborn           37 non-null     float64
 36  mother_age_secondborn          37 non-null     float64
 37  mother_age_thirdborn           37 non-null     float64
 38  mother_age_under_19            22 non-null     float64
 39  mother_age_20-24               22 non-null     float64
 40  mother_age_25-29               22 non-null     float64
 41  mother_age_30-34               22 non-null     float64
 42  mother_age_35-39               22 non-null     float64
 43  mother_age_40-44               22 non-null     float64
 44  mother_age_over_45             22 non-null     float64
 45  father_age_avg                 32 non-null     float64
 46  father_age_firstborn           32 non-null     float64
 47  father_age_secondborn          32 non-null     float64
 48  father_age_thirdborn           32 non-null     float64
 49  legitimate_child               34 non-null     float64
 50  illegitimate_child             34 non-null     float64
dtypes: float64(46), int64(5)
memory usage: 49.5 KB
None

Index(['Unnamed: 0', 'year', 'birth_total', 'birth_male', 'birth_female',
       'birth_rate', 'birth_gender_ratio', 'total_fertility_rate',
       'population_total', 'population_male', 'population_female',
       'infant_death_total', 'infant_death_male', 'infant_death_female',
       'infant_death_unknown_gender', 'infant_death_rate',
       'infant_death_gender_ratio', 'infant_deaths_in_total_deaths',
       'stillbirth_total', 'stillbirth_male', 'stillbirth_female',
       'stillbirth_unknown_gender', 'stillbirth_rate',
       'stillbirth_gender_ratio', 'firstborn', 'secondborn', 'thirdborn',
       'forthborn', 'fifthborn_and_above', 'weeks_under_28', 'weeks_28-31',
       'weeks_32-36', 'weeks_37-41', 'weeks_over_42', 'mother_age_avg',
       'mother_age_firstborn', 'mother_age_secondborn', 'mother_age_thirdborn',
       'mother_age_under_19', 'mother_age_20-24', 'mother_age_25-29',
       'mother_age_30-34', 'mother_age_35-39', 'mother_age_40-44',
       'mother_age_over_45', 'father_age_avg', 'father_age_firstborn',
       'father_age_secondborn', 'father_age_thirdborn', 'legitimate_child',
       'illegitimate_child'],
      dtype='object')

In [3]:
birth_df.year.unique()

array([1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909,
       1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920,
       1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931,
       1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
       1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953,
       1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964,
       1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022])