In [17]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# All about beer
This will be a deep dive into the beer dataset from Kaggle

## Loading and examining the datasets

In [18]:
beers_df = pd.read_csv("Beers.csv")
beers_df.head()

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces
0,Pub Beer,1436,0.050,NaN,409,American Pale Lager,12.0
1,Devil's Cup,2265,0.066,NaN,178,American Pale Ale (APA),12.0
2,Rise of the Phoenix,2264,0.071,NaN,178,American IPA,12.0
3,Sinister,2263,0.090,NaN,178,American Double / Imperial IPA,12.0
4,Sex and Candy,2262,0.075,NaN,178,American IPA,12.0

In [19]:
breweries_df = pd.read_csv("Breweries.csv")
breweries_df

     Brew_ID                           Name           City State
0          1             NorthGate Brewing     Minneapolis    MN
1          2      Against the Grain Brewery     Louisville    KY
2          3       Jack's Abby Craft Lagers     Framingham    MA
3          4      Mike Hess Brewing Company      San Diego    CA
4          5        Fort Point Beer Company  San Francisco    CA
..       ...                            ...            ...   ...
553      554            Covington Brewhouse      Covington    LA
554      555                Dave's Brewfarm         Wilson    WI
555      556          Ukiah Brewing Company          Ukiah    CA
556      557        Butternuts Beer and Ale  Garrattsville    NY
557      558  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

### Fixing the state value

In [20]:
breweries_df.State.unique()

array([' MN', ' KY', ' MA', ' CA', ' SC', ' CO', ' MI', ' IN', ' TX',
       ' AZ', ' MO', ' WI', ' IL', ' VT', ' ME', ' PA', ' KS', ' NY',
       ' NH', ' GA', ' VA', ' FL', ' MD', ' NC', ' WY', ' OR', ' RI',
       ' CT', ' OH', ' AK', ' MS', ' AR', ' LA', ' WV', ' UT', ' ID',
       ' WA', ' OK', ' NE', ' HI', ' IA', ' SD', ' NJ', ' MT', ' DC',
       ' NV', ' TN', ' NM', ' AL', ' DE', ' ND'], dtype=object)

In [21]:
breweries_df.State = breweries_df.State.str.strip()
breweries_df.State.unique()

array(['MN', 'KY', 'MA', 'CA', 'SC', 'CO', 'MI', 'IN', 'TX', 'AZ', 'MO',
       'WI', 'IL', 'VT', 'ME', 'PA', 'KS', 'NY', 'NH', 'GA', 'VA', 'FL',
       'MD', 'NC', 'WY', 'OR', 'RI', 'CT', 'OH', 'AK', 'MS', 'AR', 'LA',
       'WV', 'UT', 'ID', 'WA', 'OK', 'NE', 'HI', 'IA', 'SD', 'NJ', 'MT',
       'DC', 'NV', 'TN', 'NM', 'AL', 'DE', 'ND'], dtype=object)

### Getting the breweries from Maine

In [22]:
maine_breweries_df = breweries_df[breweries_df.State == "ME"]
print(maine_breweries_df)
maine_breweries_df.info()

     Brew_ID                            Name      City State
42        43     Rising Tide Brewing Company  Portland    ME
106      107        Glabrous Brewing Company  Pineland    ME
266      267    Peak Organic Brewing Company  Portland    ME
292      293          Baxter Brewing Company  Lewiston    ME
317      318  Marshall Wharf Brewing Company   Belfast    ME
323      324      D.L. Geary Brewing Company  Portland    ME
385      386        Shipyard Brewing Company  Portland    ME
492      493     Stone Coast Brewing Company  Portland    ME
502      503         Sea Dog Brewing Company  Portland    ME
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 42 to 502
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brew_ID  9 non-null      int64
 1   Name     9 non-null      object
 2   City     9 non-null      object
 3   State    9 non-null      object
dtypes: int64(1), object(3)
memory usage: 360.0+ bytes